<%= form_for @car do |f| %>
<div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>

  <%= f.label :Brand %>:
  <%= f.text_field :brand %><br />

  <%= f.label :Category %>:
  <%= f.text_field :category %><br />

  <%= f.label :Price %>:
  <%= f.text_field :price %><br />
 
   <%= f.submit "Edit" %>
  
<% end %>